<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <a th:href="@{/createProject}"><h1>Create New Employee</h1> </a>
</div>
<table class="table table-hover">
    <thead>
    <tr>

        <th>Unique Item Code</th>
        <th>Item Name</th>
        <th>Item Name</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="project : ${projects}">
        <td><label type="text"
                   th:text="${project.projectName}" /></td>
        <td><label type="text"
                   th:text="${project.companyName}" /></td>
        <td><label type="text"
                   th:text="${project.startDate}" /></td>

        <td><label type="text"
                   th:text="${project.endDate}" /></td>
        <td><a th:href="@{'/edit/' + ${project.projectId}}">edit</a></td>
    </tr>
    </tbody>
</table>
<span th:utext="${successMessage}"></span>
</body>
</html>